:root {
    --s-loader-wrapper-bg-color: rgb(21, 22, 43);
    --s-loader-width: 20px;
    --s-loader-height: var(--s-loader-width);
    --s-loader-border-color-trans: rgba(29, 161, 242, 0.2);
    --s-loader-border-color-full: rgb(29, 161, 242);
  }

body{
    background: darkblue;
    font-family: "Convergence", sans-serif;
    height: 90vh;
    display: grid;
    justify-content: center;
    font-size: 1rem;
    background-color: #060b23;
}
.display{
text-align: center;
position: relative;
font-size: 20px;
    left: 1rem;
    top: -2.4rem;
    padding: 0 0.7rem;
    color: white;
    cursor: text;
    background: none;
    transition: top 200ms ease-in,left 200ms ease-in,font-size 200ms ease-in;
}
.form{
    position: relative;
    width: 20rem;
    height: 0.2rem;
    top: 230px;
}
.page1{
position: absolute;
top: -3rem;
width: 20rem;
height: 30rem;
}
.page2{
position: absolute;
top: -3rem;
width: 20rem;
height: 30rem;
}
.page3{
position: absolute;
top: -3rem;
width: 20rem;
height: 30rem;
}

.form__input > input{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #2a324b;
    border-radius: 0.5rem;
    font-family: inherit;
    font-size: inherit;
    border-color: white;
    outline: none;
    padding: 1rem;
    color: white;
    background: none;

}
.form__input > input:hover{
    border-color: springgreen;
}
.form__input > input:focus{
    border-color: red;
}
.form__input > label{
    position: relative;
    left: 1rem;
    top: -2.4rem;
    padding: 0 0.7rem;
    color: white;
    cursor: text;
    background: none;
    transition: top 200ms ease-in,left 200ms ease-in,font-size 200ms ease-in;

}
input:focus ~  label,
input:not(:placeholder-shown) ~ label{
    position: relative;
    top: -4rem;
    font-size: 0.8rem;
    left: 0.8rem;
    background: #060b23;
}
.form__button > button{
display: inline-block;
    height: 3rem;
    width: 8rem;
    border-radius: 0.5rem;
    font-family: inherit;
    cursor: pointer;
    font-size: inherit;
}
