        body{
    padding: 0;
    margin: 0;
    background-color:#060b23;
}
i{
    color: red;
    cursor:pointer;
    margin-left:15px

}
.navbar{
  height: 90px;
  background-color:#060b23;
}
.nav-link{
  color: white;
}
.nav-link:hover{
  color: #03e9f4
}

.nav-item{
  margin-left: 50px;
}
label{
  color: #fff;
  margin-top: 90px;
  font-size: 32px;
  margin-left: 41rem;
}
.table{
  border: 1px solid #ddd;
  color: #fff;
  width: 600px;
  margin-top: 10px;
  margin-left: 470px;
  position: relative;

}
tr:hover{
  background-color: #fff;


}
#head{
  color: #03e9f4
}
#head:hover{
  background: none;
}
.nav-item a::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #03e9f4;;
  display: block;
  margin: auto;
  transition: .5s;
}
.nav-item a:hover::after{
   width: 100%;
}