@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
@import url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css');
@import url('https://unicons.iconscout.com/release/v2.1.9/css/unicons.css');
html {
    height: 100%;
  }
  body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: #060b23;

  }

  .login-box {
    position: relative;
    top: 380px;
    left: 50%;
    width: 400px;
    padding: 40px;
    height: 600px;


    transform: translate(-50%, -50%);
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
    box-sizing: border-box;
    box-shadow: 0 8px 24px  rgba(255,235,167,.2);
    border-radius: 10px;


  }
  #form{display: block}
  #dis-block{display: none;}

  .displaying{
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    padding: 40px;
    height: 700px;
    box-sizing: border-box;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
    box-sizing: border-box;
    box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
    border-radius: 10px;
  }
  .hide{
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 170%;
    width: 450px;
    height: 670px;
    box-sizing: border-box;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    background-color: #060b23;
  }
  .hide2{
    z-index: 2;
    position: absolute;
    top: 50%;
    left: -70%;
    width: 460px;
    height: 670px;
    box-sizing: border-box;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    background-color: #060b23;
  }
  .preview{
    margin-left: 160px;
    width: 580px;
    height: 550px;


  }

  .pre-box{
    font-size: 16px;
    padding-top: 11px;
    color: #03e9f4;
  }
  #dis1,#dis2,#dis3,#dis4,#dis5,#dis6,#dis7,
  #dis8,#dis9,#dis10,#dis11,#dis12,#dis13,#dis14{color:#fff}

  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;

  }

  .displaying i.fa-times-circle{
    margin-left: 700px;
    font-size: 30px;
    color: #fff;
  }
  .displaying i.fa-times-circle:hover{
    color: red;
  }


  .login-box .user-box {
    position: relative;
  }
  .user-rd label{
    color: #03e9f4;
    position: absolute;
    top: -7px;
  }
  .user-rd{
    margin-top: 9px;
    font-size: 14px;
    color: #fff;
    word-spacing: 40px;
  }
  .d-box{
    color: #fff;
  }

  .login-box .user-box input {
    width: 100%;
    padding: 15px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 15px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }

  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 14px;
  }


  button{
      cursor: pointer;
      border-width: 2px solid #03e9f4;;
      border-radius: 5px;
      background: #03e9f4;
      height: 2.5rem;
      width:5.5rem;
 }
  .login-box button:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,0 0 25px #03e9f4,0 0 50px #03e9f4,0 0 100px #03e9f4;
  }
  .login-box #page1,#page2,#page3,#page4{
    position:absolute;
    width: 22rem;
    height: 30rem;
    left:30px;
    transition: .5s;
  }
  #page2{
    left:470px;
  }
  #page3{
    left:470px;
  }
  #page4{
    left:470px;
  }
    #next1{
      margin-left: 120px;

    }
    #back1,#back3,#back2{
      margin-left: 20px;
    }
    #next2,#next3,#pre{
      margin-left: 90px;
    }
    #pre{padding-left: 8px;}
   #back3,#pre{
     margin-top: 15px;
   }
   .photo{
    width:104px;
    height:16px;

   }
   input[type="date"] {
    position: relative;
    padding: 10px;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    color: transparent;
    background: none;
    z-index: 1;
  }

  input[type="date"]:before {
    color: transparent;
    background: none;
    display: block;
    font-family: 'FontAwesome';
    content: '\f073';
    /* This is the calendar icon in FontAwesome */
    width: 15px;
    height: 20px;
    position: absolute;
    top: 12px;
    right: 6px;
    color: #fff;
  }

  i.fa-check{
    font-size: 16px;
    position: absolute;
    left: 325px;
    padding-top: 15px;
    visibility:hidden;
}
  i.fa-times{
    font-size: 18px;
    position: absolute;
    left: 325px;
    padding-top: 15px;
    visibility:hidden;
  }
  .user-box span{
    color: #fff;
    top: 55px;
    font-size: 14px;
    position: absolute;
    visibility: hidden;
}
.user-rd span{
  color:red;
  top: 50px;
  font-size: 14px;
}
.user-rd i.fa-check{
  top: 15px;
   visibility: hidden;
}
.user-rd i.fa-times{
  top: 15px;
  visibility: hidden;
}
.user-rd.success i.fa-check{
  color: rgb(46, 173, 46);
   visibility: visible;
}
.user-rd.error i.fa-times{
  color: red;
  visibility: visible;
}
.user-box.success i.fa-check{
  color: rgb(46, 173, 46);
   visibility: visible;
}
.user-box.error i.fa-times{
  color: red;
  visibility: visible;
}
.user-box.success input{
    border-color: rgb(125, 245, 125);
    visibility: visible;
}
.user-box.error input{
  border-color: red;
  visibility: visible;
}
.user-box.error span{
  color: red;
  visibility: visible;
}



