body{
    padding: 0;
    margin: 0;
    background-color:#060b23;
}
.container {
    margin-top: 150px;
    margin-left: 60px;
    height: 400px;
    width: 1400px;
    display: flex;
}
.container-1{
    position: relative;
    margin-left: 170px;
    height: 370px;
    width: 270px;
    border-radius: 15px;
    background:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
    box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
}
.container-2{
    position: relative;
    margin-left: 120px;
    height: 370px;
    width: 270px;
    border-radius: 15px;
    background:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
    box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
}
.container-3{
    position: relative;
    margin-left: 120px;
    height: 370px;
    width: 270px;
    border-radius: 15px;
    background:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
    box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
}
.container-1:hover{
    cursor: pointer;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: .4s ease;
}
.container-2:hover{
    cursor: pointer;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: .4s ease;
}
.container-3:hover{
    cursor: pointer;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: .4s ease;
}
i{
    color: #fff;
    font-size: 50px;
}
#one{
    margin-top: 40px;
    margin-left: 110px;
}
#two{
    margin-top: 40px;
    margin-left: 115px;
}
#three{
    margin-top: 40px;
    margin-left: 100px;
}
label{
    margin-left: 100px;
    margin-top: 80px;
    color: #fff;
    font-size: 27px;
}
span{
    margin-left: 100px;
    margin-top: 80px;
    color: #fff;
    font-size: 27px;

}
.navbar{
  height: 90px;
  background-color:#060b23;
}
.nav-link{
  color: white;
}
.nav-link:hover{
  color: #03e9f4
}

.nav-item{
  margin-left: 50px;
}
a{
   text-decoration:none;
}
.nav-item a::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #03e9f4;;
  display: block;
  margin: auto;
  transition: .5s;
}
.nav-item a:hover::after{
   width: 100%;
}