<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
    <title>Staff | Activity</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../css/staff-activity.css">
    <link rel="icon" th:href="@{/images/college.jpeg}">
</head>
<body>
<nav class="navbar navbar-expand-sm justify-content-center">
    <a class="navbar-brand" href="#">
        <img th:src="@{/images/img_avatar1.png}" alt="Avatar Logo" style="width:40px;" class="rounded-pill">
        <span style="position: relative; margin-left:10px; color: white" th:text="${#strings.arraySplit(#authentication.name,'@')[0]}"></span>
    </a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/home}">HOME</a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">SORT</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/staff/sort-name">SORT BY MARK</a></li>
                <li><a class="dropdown-item" href="/staff/sort-mark">SORT BY NAME</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">SHOW</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/staff/selected-mark">SHOW SELECTED</a></li>
                <li><a class="dropdown-item" href="/staff/rejected-mark">SHOW REJECTED</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/staff/main-page}">BACK</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/logout}">LOGOUT</a>
        </li>
    </ul>
</nav>
<div class="slideshow-container">
    <div class="mySlides" th:each = "student : ${student}">
        <div class="card" th:each = "student : ${student}">
            <a th:href="'/staff/reject/'+${student.email}" class="badge btn-danger">Reject</a>
            <img class="card-img-top" th:src="@{'/uploads/'+${student.image_file_name}}" alt="Card image" >
            <div class="card-body">
                <h4 class="card-title" th:text="${student.name}"></h4>
                <div class="progress">
                    <div class="progress-bar bg-success" th:if="${student.mark_twelve gt 89}" th:style="|width:${student.mark_twelve}%;|">12th Marks</div>
                    <div class="progress-bar bg-primary" th:if="${student.mark_twelve lt 90 and student.mark_twelve gt 69}" th:style="|width:${student.mark_twelve}%;|">12th Marks</div>
                    <div class="progress-bar bg-info" th:if="${student.mark_twelve lt 70 and student.mark_twelve gt 49}" th:style="|width:${student.mark_twelve}%;|">12th Marks</div>
                    <div class="progress-bar bg-warning" th:if="${student.mark_twelve}<50" th:style="|width:${student.mark_twelve}%;|">12th Marks</div>
                </div><br>
                <div class="progress">
                    <div class="progress-bar bg-success" th:if="${student.mark_ten gt 89}" th:style="|width:${student.mark_ten}%;|">10th Marks</div>
                    <div class="progress-bar bg-primary" th:if="${student.mark_ten lt 90 and student.mark_ten gt 69}" th:style="|width:${student.mark_ten}%;|">10th Marks</div>
                    <div class="progress-bar bg-info" th:if="${student.mark_ten lt 70 and student.mark_ten gt 49}" th:style="|width:${student.mark_ten}%;|">10th Marks</div>
                    <div class="progress-bar bg-secondary" th:if="${student.mark_ten}<50" th:style="|width:${student.mark_ten}%;|">10th Marks</div>
                </div><br>
                <a th:href="'/staff/accept/'+${student.email}" class="btn btn-primary">Accept</a>
            </div>
        </div>
        <div class="details">
            <span>Email:</span>
            <span id="dis-1" th:text="${student.email}"></span>
        </div>
        <div class="details">
            <span>Contact:</span>
            <span id="dis-2" th:text="${student.phone_number}"></span>
        </div>
        <div class="details">
            <span>Gender:</span>
            <span id="dis-3" th:text="${student.gender}"></span>
        </div>
        <div class="details">
            <span>10th Percentage:</span>
            <span id="dis-4" th:text="${student.mark_ten}"></span>
        </div>
        <div class="details">
            <span>12th Group:</span>
            <span  id="dis-5" th:text="${student.group_twelve}"></span>
        </div>
        <div class="details">
            <span>12th Percentage:</span>
            <span id="dis-6" th:text="${student.mark_twelve}"></span>
        </div>
    </div>
    <div class="slide">
        <a class="prev"  onclick="plusSlides(-1)">❮</a>
        <a class="next"  onclick="plusSlides(1)">❯</a>
    </div>
</div>



<script type="text/javascript">
document.addEventListener('contextmenu',(e)=>{
    e.preventDefault();
  }
  );
  document.onkeydown = function(e) {
  if(event.keyCode == 123) {
     return false;
  }
  if(e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)) {
     return false;
  }
  if(e.ctrlKey && e.shiftKey && e.keyCode == 'C'.charCodeAt(0)) {
     return false;
  }
  if(e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)) {
     return false;
  }
  if(e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)) {
     return false;
  }
}
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
          showSlides(slideIndex += n);
        }

        function currentSlide(n) {
          showSlides(slideIndex = n);
        }

        function showSlides(n) {
          var i;
          var slides = document.getElementsByClassName("mySlides");
          var dots = document.getElementsByClassName("dot");
          if (n > slides.length) {slideIndex = 1}
          if (n < 1) {slideIndex = slides.length}
          for (i = 0; i < slides.length; i++) {
              slides[i].style.display = "none";
          }
          for (i = 0; i < dots.length; i++) {
              dots[i].className = dots[i].className.replace(" active", "");
          }
          slides[slideIndex-1].style.display = "block";
          dots[slideIndex-1].className += " active";
        }

    </script>

</body>
</html>


