<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff | Activity</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="../css/staff-activity.css">
</head>
<body>
<header>
    <div class="wrap">
        <label class="head">WELCOME</label>
        <ul class="area">
            <li><a href="">Home</a></li>
            <li><a href="">Student Register</a></li>
        </ul>
    </div>
</header>

    <div class="slideshow-container">

        <div class="mySlides" th:each = "student : ${student}">
        <div class="card" style="width:250px" th:each = "student : ${student}">
            <a th:href="'/staff/reject/'+${student.email}" class="badge btn-danger">Reject</a>
            <img class="card-img-top" th:src="@{'/uploads/'+${student.imageFileName}}" alt="Card image" style="width:100%">
            <div class="card-body">
                <h4 class="card-title" th:text="${student.name}"></h4>
                <div class="progress">
                    <div class="progress-bar bg-success" th:if="${student.markTwelve gt 89}" th:style="|width:${student.markTwelve}%;|">12th Marks</div>
                    <div class="progress-bar bg-primary" th:if="${student.markTwelve lt 90 and student.markTwelve gt 69}" th:style="|width:${student.markTwelve}%;|">12th Marks</div>
                    <div class="progress-bar bg-info" th:if="${student.markTwelve lt 70 and student.markTwelve gt 49}" th:style="|width:${student.markTwelve}%;|">12th Marks</div>
                    <div class="progress-bar bg-warning" th:if="${student.markTwelve}<50" th:style="|width:${student.markTwelve}%;|">12th Marks</div>
                </div><br>
                <div class="progress">
                    <div class="progress-bar bg-success" th:if="${student.markTen gt 89}" th:style="|width:${student.markTen}%;|">10th Marks</div>
                    <div class="progress-bar bg-primary" th:if="${student.markTen lt 90 and student.markTen gt 69}" th:style="|width:${student.markTen}%;|">10th Marks</div>
                    <div class="progress-bar bg-info" th:if="${student.markTen lt 70 and student.markTen gt 49}" th:style="|width:${student.markTen}%;|">10th Marks</div>
                    <div class="progress-bar bg-secondary" th:if="${student.markTen}<50" th:style="|width:${student.markTen}%;|">10th Marks</div>

                </div><br>
                <a th:href="'/staff/accept/'+${student.email}" class="btn btn-primary">Accept</a>
            </div>
        </div>
        <div class="details">
            <span>School</span>
            <span th:text="${student.schoolTwelve}"></span>
        </div>
        <div class="details">
            <span>Group</span>
            <span th:text="${student.groupTwelve}"></span>
        </div>
        <div class="details">
            <span>Email</span>
            <span th:text="${student.email}"></span>
        </div>
        <div class="details">
            <span>Contact</span>
            <span th:text="${student.phoneNumber}"></span>
        </div>
    </div>


        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>

    </div>

    <script type="text/javascript">


        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
          showSlides(slideIndex += n);
        }

        function currentSlide(n) {
          showSlides(slideIndex = n);
        }

        function showSlides(n) {
          var i;
          var slides = document.getElementsByClassName("mySlides");
          var dots = document.getElementsByClassName("dot");
          if (n > slides.length) {slideIndex = 1}
          if (n < 1) {slideIndex = slides.length}
          for (i = 0; i < slides.length; i++) {
              slides[i].style.display = "none";
          }
          for (i = 0; i < dots.length; i++) {
              dots[i].className = dots[i].className.replace(" active", "");
          }
          slides[slideIndex-1].style.display = "block";
          dots[slideIndex-1].className += " active";
        }
</script>

</body>
</html>