<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <title>Staff Register</title>
    <link rel="stylesheet" href="../css/staff.css">
    <link rel="icon" th:href="@{/images/college.jpeg}">
</head>
<body>
<div class="login-box">
    <h2>Staff Register</h2>
    <form onsubmit="return checking()" th:action="@{/admin/staff-register}" method="post" enctype="multipart/form-data" >
        <div id="page1">
            <div class="user-box">
                <input id=name  type="text" name="staffName" required ="" autocomplete="off"  oninput="staffvalidate(this.id,this.name)">
                <label>Staff Name</label>
                <i class="fa fa-check"></i>
                <i class="fas fa-times"></i><br>
                <span></span>
            </div>
            <div class="user-box">
                <input id=email type="text" name="staffEmail" required=""  autocomplete="off" oninput="staffvalidate(this.id,this.name)">
                <label>E-mail</label>
                <i class="fa fa-check"></i>
                <i class="fas fa-times"></i><br>
                <p th:text="${error}"></p>
                <span></span>
            </div>
            <div class="user-box">
                <input class="img" type="file"  accept=".jpg,.jpeg" name="staffImage" >
                <label>Photo</label>
                <i class="fa fa-check"></i>
                <i class="fas fa-times"></i><br>
                <span></span>
            </div>
            <div class="user-box">
                <input id="password" type="password" name="password" required="" autocomplete="off" oninput="staffvalidate(this.id,this.name)" >
                <label>Password</label>
                <i class="fa fa-check"></i>
                <i class="fas fa-times"></i><br>
                <span></span>
            </div>
            <div class="user-box">
                <input id="ConfirmPassword" type="password" name="staffconfirmpassword" required="" autocomplete="off" oninput="staffvalidate(this.id,this.name)">
                <label>Confirm  Password</label>
                <i class="fa fa-check"></i>
                <i class="fas fa-times"></i><br>
                <span></span>
            </div>
            <button id="check" type="submit">SUBMIT</button>
        </div>
    </form>
</div>
<script type="text/javascript">
document.addEventListener('contextmenu',(e)=>{
    e.preventDefault();
  }
  );
  document.onkeydown = function(e) {
  if(event.keyCode == 123) {
     return false;
  }
  if(e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)) {
     return false;
  }
  if(e.ctrlKey && e.shiftKey && e.keyCode == 'C'.charCodeAt(0)) {
     return false;
  }
  if(e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)) {
     return false;
  }
  if(e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)) {
     return false;
  }
}
        var check = document.getElementById("check");
        function showErrMsg(index,msg){
            const userbox = document.getElementsByClassName('user-box')[index]
            userbox.classList.remove('success')
            userbox.classList.add('error')
            userbox.getElementsByTagName('span')[0].textContent = msg
        }
        function showSuccessMsg(index){
            const userbox = document.getElementsByClassName('user-box')[index]
            userbox.classList.remove('error')
            userbox.classList.add('success')
        }
        var Formvalues={photo:""}
        var Errvalues={photo:"Upload Your Photo"}

        function checking(){
            if(Errvalues.staffName =="" && Errvalues.staffEmail =="" && Errvalues.photo =="" && Errvalues.password =="" && Errvalues.staffconfirmpassword==""){
                return true;
            }
            else{
                return false;
            }

        }
        check.onclick= function(){
            console.log(Errvalues)
            if(Formvalues['photo']=="")
                showErrMsg(2,Errvalues['photo'])
        }
        let img = document.querySelector('.img');
        img.addEventListener('change',() =>{
            let files = img.files;
            if(files.length > 0){
                if(files[0].size > 100 * 1024){
                    Errvalues.photo="File Size Exceeds 100kb"
                    showErrMsg(2,Errvalues.photo)
                }
            else{
                Errvalues['photo']=""
                Formvalues.photo="success"
                showSuccessMsg(2)
            }

            }
        })
        function staffvalidate(id,name){

            var s = document.getElementById(id).value.trim()
            if(name=="staffName"){
                const regexp = /^[a-zA-z\s]{3,25}$/
                if(s ==""){
                    Errvalues[name] = "**Enter Your Name**"
                    showErrMsg(0,Errvalues[name])
                }
                else if(s.length > 25){
                    Errvalues[name] = "**Name Exceeds 25 Characters**"
                    showErrMsg(0,Errvalues[name])
                }
                else if(regexp.test(s)){
                    Errvalues[name] = ""
                    showSuccessMsg(0)
                }
                else{
                    Errvalues[name] = "**Invalid Staff Name**"
                    showErrMsg(0,Errvalues[name])
                }
            }
            if(name=="staffEmail"){
                const regxemail =/(^[a-zA-Z0-9\.-]+)@gmail.([a-z]{2,3})(.[a-z]{2,2})?$/
                if(s ==""){
                    Errvalues[name] = "**Enter Your E-mail**"
                    showErrMsg(1,Errvalues[name])
                }
                else if(regxemail.test(s)){
                    Errvalues[name] = ""
                    showSuccessMsg(1)
                }
                else{
                    Errvalues[name] = "**Invalid E-mail**"
                    showErrMsg(1,Errvalues[name])
                }
            }
            if(name=="password"){
                const regxpass = /^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{8,50}$/
                if(s==""){
                    Errvalues[name]="**Enter Your Password**"
                    showErrMsg(3,Errvalues[name])
                }
                else if(regxpass.test(s)){
                    Errvalues[name]=""
                    Formvalues[name]=document.getElementById('password').value
                    showSuccessMsg(3)
                    console.log(Formvalues)
                }
                else if(s.length < 8){
                    Errvalues[name]="**Must be 8 characters**"
                    showErrMsg(3,Errvalues[name])
                }
                else{
                Errvalues[name]="**Must be 8 characters including 1 uppercase letter, 1 special character, alphanumeric characters**"
                    showErrMsg(3,Errvalues[name])
                }
            }
            if(name == "staffconfirmpassword"){
                if(s == ""){
                    Errvalues[name]="**Enter Your Confirm Password**"
                    showErrMsg(4,Errvalues[name])
                }
                else if(Formvalues['password']==s){
                    Errvalues[name]=""
                    showSuccessMsg(4)
                }
                else{
                    Errvalues[name]="**Password Mismatched**"
                    showErrMsg(4,Errvalues[name])
                }
            }


        }
    </script>
</body>
</html>